body, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

p {
  color: #8f8f8f;
}

.blue {
  background-color: #4267B2;
  color: white;
}

.white {
  background-color: white;
}

.container-fluid{
  padding: 7% 15%;
}

/* start of nav bar styling */
.navbar {
  padding: 0 0 4.5rem;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}
/* end of nav bar styling */

/* start of button styling */
.download-button {
  margin: 5% 5% 10% 0;
}
/* end of button styling */

/* start of phone styling */
.phone-image {
  width: 28%;
  transform: rotate(25deg);
  position: absolute;
  right: 22%;
}

#features {
  position: relative;
}
/* end of phone styling */

#title {
  background-color: #4267B2;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* start of features styling */
.feature {
  padding: 5%;
}

.icon {
  color: #4267B2;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.5rem;
  font-weight: bold;
}
/* end of info styling */

/* start of testimonials styling */
#testimonials {
  padding: 3% 15%;
}

.testimonial {
  font-size: 2.5rem;
  font-weight: bold;
}

.tes-image {
  border-radius: 100%;
  width: 10%;
  margin: 5%;
}
/* end of testimonials styling */

/* start of press styling */
#press {
  background-color: #4267B2;
  padding-bottom: 5%;
}

.press-image {
  width: 15%;
  margin: 0 30px;
}
/* end of press styling */

/* start of pricing card styling */
#price-cards {
  padding: 10%
}

.price-tier {
  font-size: 2.5rem;
  font-weight: bold;
}
/* end of price card styling */

/* start of cta styling */
.large-text {
  padding-top: 100px;
  font-weight: bold;
  font-size: 4rem;
}
/* end of cta styling */

/* start of footer styling */
.social-icon {
  
}
/* end of footer styling */

@media (max-width: 990px) {
  #title {
    text-align: center;
  }

  .phone-image {
    position: static;
    transform: rotate(0);
    width: 60%;
  }
}
