body, h2, h3, h4, h5, h6 {
  font-family: "Montserrat";
  text-align: center;
}

h1 {
  font-size: 4rem;
  font-weight: bold;
  line-height: 1.5;
  text-align: left;
}

p {
  color: #8f8f8f;
}

.blue {
  background-color: #4267B2;
  color: white;
}

.white {
  background-color: white;
}

.container-fluid{
  padding: 7% 15%;
}

/* start of nav bar styling */
.navbar {
  padding: 0 0 4.5rem;
}

.brand {
  font-size: 2.5rem;
  font-weight: bold;
}

.nav-item {
  padding: 0 20px;
}

.nav-link {
  font-size: 1.2rem;
}
/* end of nav bar styling */

/* start of button styling */
.download-button {
  margin: 10% 7% 7% 0;
}
/* end of button styling */

/* start of phone styling */
.phone-image {
  width: 70%;
  transform: rotate(25deg);
}
/* end of phone styling */

#title {
  background-color: #4267B2;
  color: white;
  text-align: left;
}

#title .container-fluid {
  padding: 3% 15% 7%;
}

/* start of features styling */
.feature {
  padding: 5%;
}

.icon {
  color: #4267B2;
  margin-bottom: 1.2rem;
}

.feature-text {
  font-size: 1.5rem;
  font-weight: bold;
}
/* end of info styling */
